
body {
color: black;
background: white;
margin-bottom: 6ex;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
}
h1 {
color: #039;
background: white;
margin-bottom: 2ex;
}

p {
margin-left: 6em;
margin-right: 6em;
}
